<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="welcome.css">
    <style>
    </style>
</head>
<body id="bg">
    <div class="menu">
        <ul><li>JobsGuru.com</li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Jobs</a>
                <div class="sub-menu">
                    <ul>
                    <li><a href="../home/jobrole">Jobs by Roles</a></li>
                    <li><a href="../home/jobcourse">Jobs by Courses</a></li>
                    <li><a href="../home/joblocal">Jobs by Location</a></li>
                    </ul>
                    </div>  
                </li>
            <li><a href="../home/about">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="../home/reviews">Reviews</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="../home/jobrole">Jobs by Roles</a></li>
        </ul>
    </div>

</body>
</html>