<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>

<style>
*{
    box-sizing: border-box;
    font-family: cursive;
}
body{
    margin:0;
    
}   
nav{
    background:black;
    width:100%;
    overflow:auto;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
li{
    float:left;
}
li h2{
    top: 30%;
    font-family: cursive;
    color: seagreen;
}
nav a{
    width: 120px;
    display: block;
    text-decoration: none;
    text-align:center;
    background:black;
    font-size:17px;
    color:white;
    padding:30px 10px;
    font-family:cursive;
}
nav a:hover{
     background: skyblue;
     color: black;
 }
 .container{

            margin-top: 70px;
            margin-bottom: 50px;
            margin-left: 50px;
            margin-right: 200px;
            float: right;
            font-family: cursive;
            text-align: justify;
        }
        p{
            color: black;
        }
        #bg{
    background-image: url('/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;   


</style>
</head>
<body id="bg">   
<nav>
<div class="logo">
         <p>JobsGuru.Com</p>
      </div>
      <ul>
         <li><a href="../sessions/welcome">home</a></li>
         <li><a href="../home/about" class="active">about us</a></li>
         <li><a href="../home/reviews">reviews</a></li>
         <li><a href="">contact us</a></li>
         <li><a href="/">logout</a></li>
      
    </ul>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="section_title"><br>
                <div class="section_subtitle">About Us</div>
                <h2 class="section_main_title">WE ARE<strong> CREATIVE</strong></h2>

            <div class="about-item">
                <p>DRIVEN BY PASSION, INNOVATION & YOU
At JobsGuru.com (A TeamLease Company) we all come to work everyday with a singular thought in our mind- How to make things simpler yet advanced, business focused yet User-Friendly & strive to be Agile yet reach the masses.
It's this thought that helps us be the "The No.1 Jobsite For Freshers in India" and makes us move forward. ALWAYS.
Freshersworld.com (A TeamLease Company) is NO.1 job Portal for freshers hiring in India with a database of over 1.5+ Crore resumes. More than 3 Lakh+ resumes are added every month from entry level graduates across the country. We offer Fresher Recruitment Solutions for 60K+ recruiters and we have a presence in colleges in 100+ cities across India. Our client list includes Facebook, EMC,…
                </p>
                <p>
                   
                </p>
                
                </div>
            </div>
        </div>
        

