<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
     *{
    box-sizing: border-box;
    font-family: cursive;
}
body{
    margin:0;    
}   
nav{
    background:black;
    width:100%;
    overflow:auto;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
li{
    float:left;
}
li h2{
    top: 30%;
    font-family: cursive;
    color: seagreen;
}
nav a{
    width: 120px;
    display: block;
    text-decoration: none;
    text-align:center;
    background:black;
    font-size:17px;
    color:white;
    padding:30px 10px;
    font-family:cursive;
}
nav a:hover{
     background: skyblue;
     color:white;
 }
   .testimonials{
    padding: 40px 0;
    color:#434343;
  }
  .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden
    padding: 0 20px;

  }
  .border{
    width: 160px;
    height: 15px;
    margin: 26px auto;
  }
  
  .testimonial{
    padding: 30px;
    font-family:cursive;
  }
  h1{
    text-align: center;
  }
  p{
    font-family: cursive;
  }
   #bg{
    background-image: url('/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;   
    </style>
    
    <body id="bg">

     <nav>
      <div class="logo">
         <p>JobsGuru.Com</p>
      </div>
      <ul>
         <li><a href="../sessions/welcome">home</a></li>
         <li><a href="../home/about">about us</a></li>
         <li><a href="../home/reviews" class="active">reviews</a></li>
         <li><a href="../home/contact">contact us</a></li>
         <li><a href="/">logout</a></li>
      </ul>
   </nav


    </ul>
</nav>

    <div class="testimonials">
      <div class="inner">
        <h1>Testimonials</h1>
        <div class="border"></div>

        <div class="row1">
          <div class="col">
            <div class="testimonial">
             
              <div class="name">Touseeq Ijaz</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>

              <p>
                Its really very helpfull. i got the interview call and offer letter just within days
              </p>
            </div>
          </div>

          <div class="col">
            <div class="testimonial">
             
              <div class="name">Oliva</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>

              <p>
                Amazing app filled with so much helpfull.Its really very helpfull. i got the interview call and offer letter just within days 
                
              </p>
               
            </div>
          </div>

          <div class="col">
            <div class="testimonial">
            
              <div class="name">Ronnel Gaikwad</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>

              <p>
                
          Its really very helpfull. i got the interview call and offer letter just within days
              </p>
            </div>
          </div>
        <div class="row2">
            <div class="col">
            <div class="testimonial">
           
              <div class="name">Stephen</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>

              <p>
                The team is doing a great job. 
                The right set of information is provided and the team is cooperative as well. Good job!
              </p>
            </div>
          </div>
              <div class="col">
            <div class="testimonial">
              <div class="name">Alina</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>

              <p>
                Very excellent app , best of all apps it saves lot of time and work style is excellent.
              </p>
            </div>
          </div>

          <div class="col">
            <div class="testimonial">
         
              <div class="name">Jammes</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>

              <p>
                somewhat unsatisfied with the service, need to improve your service, or else this app is flawsome
              </p>
               
            </div>
          </div>
          <div class="row3">
          <div class="col">
            <div class="testimonial">
    
              <div class="name">Mayaa</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>

              <p>
                one of the best websites I've seen  in whatever town u live in.thank you for putting all this information in one place!
              </p>
            </div>
          </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>